.sidebar {
  background: #000;
  width: 240px;
  height: 100vh;
  padding: 1rem 2rem;

  &__logo {
    width: 9rem;
    margin-bottom: 2rem;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0 1rem;

    span {
      color: #fff;
    }
  }
}