.sidebar {
  background: #000;
  width: 240px;
  height: 100vh;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;

  &__logo {
    width: 9rem;
    margin-bottom: 2rem;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0 1rem;
    cursor: pointer;

    svg {
      width: 32px;
    }

    span {
      color: #fff;
    }
  }

  &__logo-image-container {
    width: 28px;
    height: 28px;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
    img {
      border-radius: 5px;
    }
  }
}
