.mini-player {
  position: fixed;
  bottom: 0;
  left: 240px;
  background: #131313;
  width: calc(100% - 240px);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__no-song {
    text-align: center;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 300px;
  }

  &__song-details {
    h5 {
      font-size: 0.85rem;
    }
    p {
      font-size: 0.75rem;
    }
  }

  &__image-container {
    width: 64px;
    height: 64px;
    position: relative;

    img {
      object-fit: cover;
    }
  }

  &__additional-controls {
    display: flex;
    gap: 1rem;
  }
  &__volume-control-container {
    position: relative;
    width: 200px;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  &__volume-control {
    opacity: 0;
    transition: 0.4s ease;

    .mini-player-volume-icon {
      width: 32px;
    }
  }

  &__volume-control.active {
    opacity: 1;
  }
}
